<?xml version="1.0" encoding="UTF-8"?>
<plugin id="@globules-io/cordova-plugin-remove-duplicate-permissions"
        version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>cordova-plugin-remove-duplicate-permissions</name>
    <description>Removes duplicate &lt;uses-permission&gt; entries</description>
    <license>MIT</license>
    <keywords>cordova, android, manifest, permissions</keywords>

    <!-- Hook registration -->
    <hook type="after_prepare" src="hooks/remove-duplicates.js" />
</plugin>